header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 12px 16px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.61);
    font-family: Arial, sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999; 
}

header a {
    margin-left: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.dropdown-temas {
    margin-right: 2rem;
    padding: 6px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.img1{
    width: 50%;           
    max-width: 390px;      
    display: block;
    margin: 20px auto;
    border-radius: 8px;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }